[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
neo4j = "*"
neo4j-driver = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
