[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = {extras = ["email","dotenv"], version = "*"}
uvicorn = "*"
neo4j = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pytest = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.9"
